/* Style the body */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
}

/* Center the card horizontally and vertically */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Style the weather box */
.card {
  width: 60rem;
  height: 30rem;
  border-radius: 10px;
  background-color: #e3ebfd;
  border-color: #e3ebfd;
  padding: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Style the date */
.date {
  padding: 10px;
  color: #101319;
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Style the search field */
form.search-button {
  display: block;
  margin: 0 auto;
  padding: 1px;
  border-radius: 10px;
}

form.search-button:hover {
  border-color: #8daded;
  border-width: 1px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}

form.search-button input[type=text] {
  padding: 10px;
  font-size: 12px;
  border: 1px solid #e3ebfd;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7);
  text-align: left;
  width: 500px;
}

  /* Style the submit button of search */
  form.search-button button {
    padding: 1px;
    background: #e3ebfd;
    color: #e3ebfd;
    font-size: 12px;
    border: 1px solid #e3ebfd00;
    margin-left: 1px;
    border-radius: 10px;
    margin-top: 15px;
  }

  .vergrootglas,
  .pindrop {
    padding: 1px;
    font-size: 12px;
    border: 1px solid #e3ebfd00;
    background-color: transparent; /* Set background color to transparent */
    margin-top: 18px;
    border-radius: 10px;
    margin-left: 0px;
  }

  .input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
  }

  .input-group input, .input-group button {
    margin: 1px;
    border-radius: 10px;
  }
  
  /* Clear floats */
  form.search-button::after {
    content: "";
    clear: both;
    display: table;
  }

/* Style the popup */
  .popup {
    font-size: 12px;
    color: #636466;
    background: #f3f8fe;
    border-radius: 10%;
    width: 250px;
    height: 120px;
    display: block;
    position: relative;
    align-items: center;
    text-align: center;
    padding: 22px;
    margin-left: 25%;
    margin-top: 15%;
  }

  .popup:hover {
    border-color: #8daded;
    border-style: dotted;
    border-width: thin;
  }

  .myRow {
    padding: 0;
    margin: 0;
  }

  /* Style the city */
  .cityName {
    font-size: 36px;
    text-transform: capitalize;
    color: #9551f7;
    margin-left: 10px;
  }

  /* Style the image */
  .main-image {
    width: 80px;
    height: 80px;
  }
  
/* Style the date & details underneath city */
.tempElement {
  font-size: 30px;
  color:#8daded;
}

.temperatureUnits {
  font-size: 16px;
  display: inline-block;
}

#temperature {
  margin-left: 10px;
  font-size: 60px;
}

.forecastTemperature {
  font-size: 10px;
  margin-top: 0px;
}
#minTemp {
  color: #a9aaac;
}

#maxTemp {
  color: #1f1f20;
}

.temperature-icon {
  display: flex;
  align-items: center;
}

.todayDetails {
  margin-top: 30px;
  margin-left: 30px;
  }

/* Style the temperature, humidity & wind */
.wind, .hum {
  left: 300px;
  top: 10px;
}

/* Style the bubbles container */
.weather-forecast {
  position: absolute;
  bottom: 110px;
  margin: 10px;
  padding: 10px;
}

/* Style the bubbles */
.bubbles {
  background: #c9dcf3;
  max-width: 90px;
  aspect-ratio: 1/1;
  height: 90px;
  border-radius: 50%;
  position: relative;
  align-items: center;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #c9dcf300;
}

.bubbles:hover {
  border-color: #8daded;
  border-style: dotted;
  border-width: 2px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

/* Style the day of the week */
.dayWeek {
  text-align: center;
  display: block;
  margin-top: 10px;
  font-size: 12px;
}

.dateWeek {
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  color: #9891a2;
}

/* Style the emoji */
.emoji {
  font-size: 16px;
  margin-bottom: 0px;
}

/* Style the footer */
.github {
  text-align: center;
  font-size: 10px;
  margin-top: 10px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

/* Slider */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}

.switch-text {
  position: relative;
  display: inline-block;
  left: 15px;
  font-size: 8px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 15px;
  left: 30px;
  right: 0;
  bottom: 0;
  background-color: #a6d2f4;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #9c21f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


